nwtis-zadaca_1/tskobic-zadaca_1_app/doc/* linguist-vendored
nwtis-zadaca_1/tskobic-zadaca_1_lib/doc/* linguist-vendored

nwtis-zadaca_1/tskobic-zadaca_1_app/doc/* linguist-documentation=true
nwtis-zadaca_1/tskobic-zadaca_1_lib/doc/* linguist-documentation=true
